<?php

# Help line config
$anonymous = FALSE;                  # Setting to FALSE will inform both caller and volunteer who they talked to
$help_line_number = "+16505551212";  # Must include prefix of +1 followed by phone number, no spaces or other characters
$friendly_phone = "(650) 555-HELP";  # Human friendly version of the above number
$system_name = "Our Help Line";      # The name for your help line
$logo = "ocl-logo.png";              # URL to logo (relative or absolute OK)
$volunteer = "volunteer";            # What do you call volunteers?
$master_pass = "hunter2";            # See documentation (this password may show up as *'s depending on your text editor)
$people_to_call = 6;                 # How many people to call at once

# Admin config
$admin_email = "admin@email.com"
$admin_phone = "650.555.1212";
$admin_handle = "Admin";
$report_number = "+16505551234";     # Optional - report all successful calls to this number, set to NULL to disable

# Twilio config
$ApiVersion = "2010-04-01";                          # Do not change
$AccountSid = "AC01234567890123456789012345678901";  # Get these from https://www.twilio.com/console
$AuthToken = "01234567890123456789012345678901";

# Database config
$db_host = "dbhostname.sample.com";
$db_name = "databasename";
$db_user = "dbuser";
$db_pass = "dbpass";
$table_name = "opencrisisline"; 

# Additional menu items, comment out or set to NULL to disable them 
$option2_column = "opt2";                      
$option2_friendly = "Code Red";
$option3_column = "opt3";
$option3_friendly = "Graveyard / Night Shift";

require "twilio.php";

function logError($err) {
    global $admin_email;
    mail($admin_email,"[$system_name] Error","http://".$_SERVER["SERVER_NAME"].$_SERVER["REQUEST_URI"]."\n\n".print_r($_REQUEST,true)."\n\n\n".print_r($err,true));
}

function logAndDie($err) {
    logError($err);
    die($err);
}

function get_db() {
    global $db_host, $db_user, $db_pass, $db_name;
    
    $link = mysql_pconnect($db_host, $db_user, $db_pass);
    if (!$link) {
        logAndDie('Could not connect #C301: ' . mysql_error());
    }
    $db_selected = mysql_select_db($db_name, $link);
    if (!$db_selected) {
        logAndDie('Can\'t use db #C302: ' . mysql_error());
    }
    return $link;
}

function sms0($from,$to,$sms) {
    global $ApiVersion, $AccountSid, $AuthToken;
    
    $client = new TwilioRestClient($AccountSid, $AuthToken);
    $data = array(
        "From" => $from,
        "To" => $to,
        "Body" => $sms
    );
    $response = $client->request("/$ApiVersion/Accounts/$AccountSid/SMS/Messages","POST",$data);    
    return;
}

$db = get_db();